In [1]:
## Import Pandas
import pandas as pd

Slide 6

In [2]:
# setup a one dimensional array-like object
# The word Series must start with a capital letter otherwise you get a syntax error

myseries = pd.Series([439, 98.54, 'Hello World', 'Sea Breeze', -342])

# print the data in series
print(myseries)

# when the data is printed what do you notice?

0            439
1          98.54
2    Hello World
3     Sea Breeze
4           -342
dtype: object

Slide 8

In [3]:
#create data
inventory = {"Code": [475984412, 475871129, 476214584, 475854812],
            "Produce": ["Avocado", "Banana", "Courgette", "Cauliflower"],
            "Origin": ["Mexico", "Costa Rica", "France", "UK"],
            "Price": [1.75, 0.73, 2.00, 1.80]}

#print(inventory)
# create variable

myframe = pd.DataFrame(inventory)
#Remember the capitals both D & F

# print variable
print(myframe)

        Code      Produce      Origin  Price
0  475984412      Avocado      Mexico   1.75
1  475871129       Banana  Costa Rica   0.73
2  476214584    Courgette      France   2.00
3  475854812  Cauliflower          UK   1.80

Slide 9

In [4]:
## create index
myframe.index = ["AV", "BN", "CG", "CF"]
## When creating an index, be aware that the index values need to be unique

print(myframe)

         Code      Produce      Origin  Price
AV  475984412      Avocado      Mexico   1.75
BN  475871129       Banana  Costa Rica   0.73
CG  476214584    Courgette      France   2.00
CF  475854812  Cauliflower          UK   1.80

Slide 10 + 11

In [9]:
##read the csv file using pd.read_csv
vetdata = pd.read_csv("vet_data.csv")
#Ensure that your csv file in within the same folder as your python file
vetdata.drop(["Unnamed: 6"], axis=1, inplace=True)
print(vetdata)

   Owner_Surname  Pet_Name  Pet_Age  Last_Visit      Type Chipped
0          Adams    Fluffy        2  11/05/2020       Cat     Yes
1          Smith      Zuko        8  30/01/2019       Dog     Yes
2      Radcliffe      Nala        4  24/11/2019       Dog     Yes
3        Holland  Mr Chips       10  15/06/2019       Dog      No
4         Potter     Daisy        9  07/04/2020    Rabbit     Yes
5         Sorola     Oscar        1  27/02/2020   Hamster      No
6           Pike     Pepsi        6  18/09/2019       Cat     Yes
7         Murray    George       17  12/02/2020  Tortoise      No
8          Aston     Monty        3  09/03/2020       Dog     Yes
9         Waller       Flo        7  06/05/2019       Cat     Yes
10   De la Force     Anton        2  31/08/2019       Cat      No
11          Reed     Farah        5  02/03/2020     Horse      No
12      Martinez     Homer        6  24/11/2019       Dog     Yes
13            Li      Iggy        5  14/12/2019       Dog     Yes
14     Rodriquez     Bobby        3  28/02/2020    Rabbit      No

In [10]:
print(vetdata["Pet_Age"])

0      2
1      8
2      4
3     10
4      9
5      1
6      6
7     17
8      3
9      7
10     2
11     5
12     6
13     5
14     3
Name: Pet_Age, dtype: int64

In [11]:
print(vetdata[["Pet_Name"]])

    Pet_Name
0     Fluffy
1       Zuko
2       Nala
3   Mr Chips
4      Daisy
5      Oscar
6      Pepsi
7     George
8      Monty
9        Flo
10     Anton
11     Farah
12     Homer
13      Iggy
14     Bobby

In [12]:
##retrieving multiple columns as dataframe
print(vetdata[["Type", "Pet_Age", "Chipped"]])

        Type  Pet_Age Chipped
0        Cat        2     Yes
1        Dog        8     Yes
2        Dog        4     Yes
3        Dog       10      No
4     Rabbit        9     Yes
5    Hamster        1      No
6        Cat        6     Yes
7   Tortoise       17      No
8        Dog        3     Yes
9        Cat        7     Yes
10       Cat        2      No
11     Horse        5      No
12       Dog        6     Yes
13       Dog        5     Yes
14    Rabbit        3      No

In [ ]:
vetdata.drop(["Unnamed: 6"], axis=1, inplace=True)

In [13]:
print(vetdata)

   Owner_Surname  Pet_Name  Pet_Age  Last_Visit      Type Chipped
0          Adams    Fluffy        2  11/05/2020       Cat     Yes
1          Smith      Zuko        8  30/01/2019       Dog     Yes
2      Radcliffe      Nala        4  24/11/2019       Dog     Yes
3        Holland  Mr Chips       10  15/06/2019       Dog      No
4         Potter     Daisy        9  07/04/2020    Rabbit     Yes
5         Sorola     Oscar        1  27/02/2020   Hamster      No
6           Pike     Pepsi        6  18/09/2019       Cat     Yes
7         Murray    George       17  12/02/2020  Tortoise      No
8          Aston     Monty        3  09/03/2020       Dog     Yes
9         Waller       Flo        7  06/05/2019       Cat     Yes
10   De la Force     Anton        2  31/08/2019       Cat      No
11          Reed     Farah        5  02/03/2020     Horse      No
12      Martinez     Homer        6  24/11/2019       Dog     Yes
13            Li      Iggy        5  14/12/2019       Dog     Yes
14     Rodriquez     Bobby        3  28/02/2020    Rabbit      No

Slide 12

In [14]:
## Print the first 4 observations (rows)
print(vetdata[0:4])

  Owner_Surname  Pet_Name  Pet_Age  Last_Visit Type Chipped
0         Adams    Fluffy        2  11/05/2020  Cat     Yes
1         Smith      Zuko        8  30/01/2019  Dog     Yes
2     Radcliffe      Nala        4  24/11/2019  Dog     Yes
3       Holland  Mr Chips       10  15/06/2019  Dog      No

In [15]:
print(vetdata[8:12])

   Owner_Surname Pet_Name  Pet_Age  Last_Visit   Type Chipped
8          Aston    Monty        3  09/03/2020    Dog     Yes
9         Waller      Flo        7  06/05/2019    Cat     Yes
10   De la Force    Anton        2  31/08/2019    Cat      No
11          Reed    Farah        5  02/03/2020  Horse      No

Slide 13 + 14

In [16]:
## Print out observations for index row 1
print(vetdata.iloc[1])

Owner_Surname         Smith
Pet_Name               Zuko
Pet_Age                   8
Last_Visit       30/01/2019
Type                    Dog
Chipped                 Yes
Name: 1, dtype: object

In [21]:
## read the csv file using pd.read_csv
vetdata = pd.read_csv("vet_data.csv", index_col="Owner_Surname")

## Print out observations for Smith and Sorola
print(vetdata.loc[["Smith", "Sorola"]])

              Pet_Name  Pet_Age  Last_Visit     Type Chipped Unnamed: 6
Owner_Surname
Smith             Zuko        8  30/01/2019      Dog     Yes        NaN
Sorola           Oscar        1  27/02/2020  Hamster      No        NaN